<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

    <script>
        $(function () {
            $('form').on('submit', function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'get',
                    url: 'api',
                    data: $('form').serialize()
                }).done(function (data) {
                    $("#result").val( $("#result").val() + data)
                });

        });
        });

        {#        data: $.ajax({action:'something'),#}
    </script>
</head>
<body>
<div id="bar">DEBUG MENU</div>
<form>
    <input name="action" value="getGoods"><br>
    <input name="submit" type="submit" value="Submit">
</form>
<br>
<textarea id="result" cols="40" rows="50" style="height: 300px;width: 500px"></textarea>

DEBUG
<ol>
<li><a href="/api?action=getGoods&type=CellPhone">getGood</a></li>
<li><a href="/api?action=search&request=iPhone">Search</a></li>
</ol>
</body>
</html>